[user]
	email = heathamccabe@gmail.com
	name = Heath McCabe
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[alias]
	s = status
  b = branch
  co = checkout
	rv = remote -v
	aliases = !git config --get-regexp \"^alias\\\\.\" | sed \"s/^alias\\.//\"
  rrr = reset --hard HEAD

